{% extends 'base.html' %}
{% block title_block %}About{% endblock %}
{% block body_block %}
   <div class="container">
   	    <h1>About</h1>
    	<p>
        Our university have many group projects. However some students are faced with difficulties finding team members when it is required for them to execute projects in a team, Some teams may have incomplete members, and some teams end up having a member that may not contribute much towards the success of the project due to lack of required skills
        </p>
        <p>
        Our website aims to link teams requiring member(s) and students requiring teams togetherm. A student can make a request for members to complete his or her team and also can respond to an existing request for team members, indicating interest in joining the team
        </p>

    </div>
    
{% endblock %}