{% extends 'base.html' %}
{% block title_block %}Add a course {% endblock %}
{% block body_block %}

    {% if not created %}
        <form id="course_form" method="post" action="{% url 'teambuilder:add_course' %}" role="form">
            {% csrf_token %}
             {% if errors %}
                <div class="alert alert-danger">
                    <p>{{ errors }}</p>
                </div>
            {% endif %}

            <div class="form-group">
                <label class="sr-only" for="id_code">Code:</label>
                <input id="id_code" class="form-control" maxlength="30" name="code" type="text" placeholder="Enter course code "/>
            </div>


            <div class="form-group">
                <label class="sr-only" for="id_name">Name:</label>
                <input id="id_name" class="form-control"  name="name" type="text" placeholder="Enter course name" />

            </div>

            <div class="form-group">
                <label class="sr-only" for="id_username">Course password:</label>
                <input id="id_course_password" class="form-control" maxlength="30" name="course_password" type="text" placeholder="Enter course password "/>
            </div>

            <div class="form-group">
               <label class="sr-only" for="id_team_size">Team size:</label>
               <input id="id_team_size" class="form-control" maxlength="30" name="team_size" type="number"  min="2" placeholder="Enter team size"/>
            </div>

            <button class="btn btn-success btn-block center-block" type="submit" value="submit">Create</button>

        </form>

    {% else %}
        <p>Course has been successfully added. <a href="/teambuilder/dashboard/">Click here</a> to return to dashboard. </p>
    {% endif %}
{% endblock %}