{% extends 'base.html' %}
{% block title_block %}{{course.name}} details {% endblock %}
{% block body_block %}
    {% if course %}
        <h2>{{course.name}}</h2>
        <ul>
        <li>Code: {{course.code}}</li>
        <li>Name: {{course.name}}</li>
        <li>Creator: {{course.creator.username}}</li>
        <li>Required team size: {{course.team_size}}</li>
        </ul>

        {% if user.is_authenticated %}
            {% if creator == True %}
                <a href="/teambuilder/course/{{course.slug}}/edit/">Edit course</a>
                <a href="/teambuilder/course/{{course.slug}}/teams/">View teams</a>
            {% endif %}
        {% endif %}
    {% else %}
        <p>Course not found</p>
    {% endif %}
{% endblock %}