{% extends 'base.html' %}
{% block title_block %}{{course.name}} details {% endblock %}
{% block body_block %}
    <h2>{{course.name}} details</h2>
       <div class="row">
           <div class="col-lg-12">
               <ul class="breadcrumb">
                    <li><a href="{% url 'teambuilder:index' %}">Home</a></li>
                    <li class="active">{{course.name}} </li>
               </ul>
           </div>
       </div>

    <div class="table-responsive">
        <table class="table">
            <tbody>
                <tr>
                    <td>Code</td>
                    <td>{{course.code}}</td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>{{ course.name}}</td>
                </tr>
                <tr>
                    <td>Creator</td>
                    <td><a href="{% url 'teambuilder:profile' course.creator.username %}">{{course.creator.username}}</a></td>
                </tr>
                <tr>
                    <td>Required team size</td>
                    <td>{{course.team_size}}</td>
                </tr>

                {% if creator %}
                    <tr>
                        <td>Course password</td>
                        <td>{{course.course_password}}</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>

    {% if creator  %}
        <a class="btn btn-primary" href="/teambuilder/course/{{course.slug}}/edit/">Edit course
        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
        <a class="btn btn-primary" href="/teambuilder/course/{{course.slug}}/teams/">View teams
        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> </a>
    {% endif %}

{% endblock %}