{% extends 'base.html' %}
{% block title_block %}Edit profile{% endblock %}
{% block body_block %}
    {% if not created %}
        <form id="profile_form" method="post" action="{% url 'teambuilder:edit_profile' %}">
            {% csrf_token %}
            {{errors}}
            {{ profile_form.as_p }}</br>
            <p>first name: <input type="text" value="{{user.first_name}}" name="first_name"/></p></br>
            <p>last name: <input type="text" value="{{user.last_name}}" name="last_name"/></p></br>
            <input type="submit" value="Submit" />
        </form>
    {% else %}
         <p>You have been successfully edited a profile Click <a href="/teambuilder/profile/{{ user.username }}">here</a> to view profile </p>
    {% endif %}

{% endblock %}