{% extends 'base.html' %}
{% block title_block %}Dashboard{% endblock %}

{% block body_block %}
<div class="row">


    <h1>Dashboard</h1>
    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#courses">Courses</a></li>
      <li><a data-toggle="tab" href="#teams">Teams</a></li>
      <li><a data-toggle="tab" href="#requests">Requests</a></li>
    </ul>

    <div class="tab-content">
      <div id="courses" class="tab-pane fade in active">
        <h3>Courses</h3>
        {% if courses %}
            <ul>
            {% for course in courses %}
                <li><a href="{% url 'teambuilder:course_detail' course.slug %}">{{course.name}}</a></li>
            {% endfor %}
            </ul>
        {% else %}
            <p>You have not added any course yet</p>
        {% endif %}
        <p><a href="{% url 'teambuilder:add_course' %}">Add a course</a></p>
      </div>
      <div id="teams" class="tab-pane fade">
          <h3>Teams</h3>
          <div class="panel-group">
              <div class="panel panel-default">
                  <div class="panel-heading">Teams I created</div>
                  <div class="panel-body">
                      {% if teams %}
                        <div class="table-responsive">
                           <table class="table">
                            <tr>
                                <td>Team name</td>
                                <td>Status</td>
                            </tr>
                        {% for team in teams %}
                            <tr>
                            <td><a href="{% url 'teambuilder:team_detail' team.slug %}">{{team.name}}</a></td>
                            {% if team.status %}
                                <td>Active</td>
                            {% else %}
                                <td>Merged with <a href="{% url 'teambuilder:team_detail' team.slug %}">{{team.merge_with.name}}</a></td>
                            {% endif %}
                            </tr>
                        {% endfor %}
                        </table>
                       </div>
                    {% else %}
                        <p>You have not built any team yet</p>
                    {% endif %}
                    <p><a type="button" class="btn btn-primary btn-sm" href="{% url 'teambuilder:create_team' %}">Create team
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a></a></p>
                  </div>
              </div>

              <div class="panel panel-default">
                  <div class="panel-heading">Teams I belong to</div>
                  <div class="panel-body">
                      {% if teams or requests %}
                           <div class="table-responsive">
                               <table class="table">
                                    <tr>
                                        <td>Team name</td>
                                        <td>Course</td>
                                    </tr>
                                {% for request in requests %}
                                    <tr>
                                        <td><a href="/teambuilder/team/{{request.team.slug}}/">{{request.team.name}}</a></td>
                                        <td><a href="/teambuilder/course/{{request.team.course.slug}}/">{{request.team.course.name}}</a></td>
                                    </tr>
                                {% endfor %}
                                    {% for team in teams %}
                                        <tr>
                                            <td><a href="/teambuilder/team/{{team.slug}}/">{{team.name}}</a></td>
                                            <td><a href="/teambuilder/course/{{team.course.slug}}/">{{team.course.name}}</a></td>
                                        </tr>
                                    {% endfor %}
                                </table>
                           </div>
                        {% else %}
                            <p>You do not belong to any team yet</p>
                        {% endif %}
                  </div>
              </div>
          </div>
      </div>
      <div id="requests" class="tab-pane fade">
        <h3>Requests</h3>
          <div class="panel-group">
              <div class="panel panel-default">
                   <div class="panel-heading">Received Request:</div>
                  <div class="panel-body">
          {% if requests2 %}
            <div class="table-responsive">
             <table class="table">
              <thead>
                <tr>
                    <th>Team</th>
                    <th>Request date</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
               </thead>

              {% for request in requests2 %}
                <tr>
                    <td><a href="/teambuilder/team/{{request.team.slug}}/"> {{request.team.name}}</a></td>
                    <td>{{request.request_date}}</td>
                    <td>{{request.status}}</td>
                    <td>
                        {% if request.status == 'pending' %}
                        &nbsp; <a type="button" class="btn btn-danger btn-sm" href="/teambuilder/team/{{request.team.slug}}/cancel-request/">Cancel request
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></a>
                        {% endif %}
                    </td>
                </tr>
              {% endfor %}
             </table>
         </div>
        {% else %}
        <p>No requests have been sent.</p>
       {% endif %}
       </div></div>
         <div class="panel panel-default">
                   <div class="panel-heading">Requests needing your attention</div>
                  <div class="panel-body">
          {% if requests3 %}
           <div class="table-responsive">
            <table class="table">
               <thead>
                    <tr>
                        <th>Team</th>
                        <th>Available slots</th>
                        <th>Requester</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
               </thead>
                {% for r in requests3 %}
                    {% for request in r %}
                        <tr>
                            <td><a href="{% url 'teambuilder:team_detail' request.team.slug %}">{{request.team.name}}</a></td>
                            <td>{{request.team.available_slots}}</td>
                            <td><a href="/teambuilder/profile/{{request.user.username}}/">{{request.user.username}}</a></td>
                            <td>{{request.status}}</td>
                            <td>
                                {% if request.team.available_slots > 0 %}
                                {% if request.status == "pending" %}
                                    <a type="button" class="btn btn-success btn-sm" href="/teambuilder/request/{{request.id}}/accept/">
                                        Accept request <span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a>
                                    <a type="button" class="btn btn-danger btn-sm" href="/teambuilder/request/{{request.id}}/reject/">
                                        Reject request<span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                                {% elif request.status == "accepted" %}
                                    <p>Request accepted</p>
                                {% endif %}
                                {% else %}
                                <p>Team full</p>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            </table>
        </div>

    {% else %}
        <p>There are no available requests at this time</p>
       {% endif %}
                      </div></div>
      </div>
    </div>
    </div>

      </div>
        </div>
{% endblock %}