{% extends 'base.html' %}
{% block title_block %}Edit Team{% endblock %}
{% block body_block %}
    {% if not created %}
        <h3></h3>
        <form id="team_form" method="post">
            {% csrf_token %}
               {% if errors %}
                <div class="alert alert-danger">
                    <p>{{ errors }}</p>
                </div>
            {% endif %}


            <label>Please enter your team name:</label><br/>
             <div class="form-group">
                <input class="form-control" id="course_code" type="text" name="name" value="{{team.name}}" />
             </div><br/>

            <label>Please enter your skill needed:</label><br/>
             <div class="form-group">
            <input class="form-control" type="text" value="{{team.required_skills}}" name="skill"/>
                 </div><br/>

            <label>Please enter your description:</label><br/>
            <div class="form-group">
                <input class="form-control" type="text" value="{{team.description}}" name="description"/>
            </div><br/>


            <button class="btn btn-success btn-block center-block" type="submit" value="submit">Submit</button>

        </form>
    {% else %}
    <div class="alert alert-success">
         <p>You have successfully edited this team, Click <a href="{% url 'teambuilder:team_detail' team.slug %}">{{team.name}}</a> to view team </p>
    </div>
    {% endif %}
{% endblock %}