
  <div id="latest_teams" class="col-sm-6">
{% if team_list %}
      <div class="table-responsive">
         <table class="table">
                <thead>
                    <td>Team</td><td>Course</td>
                </thead>
                {% for team in team_list %}
                    <tr>
                        <td><a href="{% url 'teambuilder:team_detail' team.slug %}">{{ team.name }}</a></td>
                        <td><a href="{% url 'teambuilder:course_detail' team.course.slug %}">{{ team.course.name }}</a></td>
                    </tr>
                {% endfor %}
         </table>
          </div>
 {% else %}
         <p>No such team exits. Please recheck your typing</p>
 {% endif %}
      </div>



