{% extends 'base.html' %}
{% block title_block %}My sent requests{% endblock %}
{% block body_block %}
    <h3>Sent requests</h3>
    {% if requests %}
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Team</th>
                    <th>Request date</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>

            {% for request in requests %}
                <tr>
                    <td><a href="/teambuilder/team/{{request.team.slug}}/"> {{request.team.name}}</a></td>
                    <td>{{request.request_date}}</td>
                    <td>{{request.status}}</td>
                    <td>
                        {% if request.status == 'pending' %}
                        &nbsp; <a type="button" class="btn btn-danger btn-sm" href="/teambuilder/team/{{request.team.slug}}/cancel-request/">Cancel request
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    {% else %}
        <p>No requests have been sent.</p>
    {% endif %}
{% endblock %}