{% extends 'base.html' %}
{% block title_block %}Profile {% endblock %}
{% block body_block %}
    <ul>
        <li>username: {{profile.user.username}}</li>
        <li>first name: {{profile.user.first_name}}</li>
        <li>last name: {{profile.user.last_name}}</li>
        <li>email: {{profile.user.email}}</li>
        <li>phone number: {{ profile.phone_number }}</li>
        <li>DOB: {{ profile.dob }}</li>
        <li>About me: {{ profile.about_me }}</li>
    </ul>

    {% if user == profile.user %}
        <a href="{% url 'teambuilder:edit_profile' %}">Edit profile</a>

    {% endif %}

{% endblock %}