{% extends 'base.html' %}
{% block title_block %}Team detail {% endblock %}
{% block body_block %}

        <h2>{{team.name}} details</h2>
           <div class="row">
               <div class="col-lg-12">
                   <ul class="breadcrumb">
                        <li><a href="{% url 'teambuilder:index' %}">Home</a></li>
                        <li class="active">{{team.name}} </li>
                   </ul>
               </div>
           </div>

    <div class="well">
        <div class="table-responsive">
            <table class="table">
                <tbody>
                    <tr>
                        <td>Creator</td>
                        <td><a href="{% url 'teambuilder:profile' team.creator.username %}">{{ team.creator.username}}</a></td>
                    </tr>
                    <tr>
                        <td>Course</td>
                        <td><a href="/teambuilder/course/{{team.course.slug}}/">{{ team.course.name}}</a></td>
                    </tr>
                    <tr>
                        <td>Description</td>
                        <td>{{team.description}}</td>
                    </tr>
                    <tr>
                        <td>Required skills</td>
                        <td>{{ team.required_skills}}</td>
                    </tr>
                    <tr>
                        <td>Status</td>
                        {% if team.status %}
                            <td>Active</td>
                        {% else %}
                            <td>SMerged with <a href="/teambuilder/team/{{team.merge_with.slug}}/">{{team.merge_with.name}}</a></td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td>Number of free slots</td>
                        <td>{{ team.available_slots }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        {% if user.is_authenticated %}
            {% if profile.role == 'student' %}
                {% if member_request %}
                    <p>Your request to join {{team.name}} is pending</p>
                    <a type="button" class="btn btn-danger" href="/teambuilder/team/{{team.slug}}/cancel-request/">Cancel request</a>
                {% else %}
                    {% if user == team.creator %}
                        <a type="button" class="btn btn-primary" href="/teambuilder/team/{{team.slug}}/view-requests/">View requests
                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                        <a type="button" class="btn btn-primary" href="/teambuilder/team/{{team.slug}}/view-members/">
                            View team members <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> </a>
                        <a type="button" class="btn btn-primary" href="/teambuilder/team/{{team.slug}}/edit/">Edit team
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                    {% else %}
                        {% if not accepted_request %}
                            {% if team.available_slots == 0 %}
                                <p>Team is already full</p>
                            {% else %}
                                <a type="button" class="btn btn-primary" href="/teambuilder/team/{{team.slug}}/send-request/">Request to join</a>
                            {% endif %}
                        {% else %}
                            <p>You are a member of this team</p>
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% elif profile.role == 'coordinator' %}
                <a type="button" class="btn btn-primary" href="/teambuilder/team/{{team.slug}}/view-members/">
                            View team members <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> </a>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}