{% extends 'base.html' %}
{% block title_block %}Team detail {% endblock %}
{% block body_block %}
    {% if team %}
        <h2>{{team.name}}</h2>
        <p>Course: <a href="{% url 'teambuilder:course_detail' team.course.slug %}">{{ team.course.name}}</a></p>
        <p>Description: {{team.description}}</p>
        <p>Required skills: {{ team.required_skills}}</p>
        <p>Number of free slots: {{ available_slots }}</p>

        {% if user.is_authenticated %}
            {% if member_request %}
                <p>Your request to join {{team.name}} is pending</p>
                <a href="/teambuilder/team/{{team.slug}}/cancel-request/">Cancel request</a>
            {% else %}
                {% if user == team.creator %}
                    <a href="/teambuilder/team/{{team.slug}}/view-requests/">View requests</a>
                    <a href="/teambuilder/team/{{team.slug}}/view-members/">View team members</a>
                {% else %}
                    {% if not accepted_request %}
                        <a href="/teambuilder/team/{{team.slug}}/send-request/">Request to join</a>
                    {% else %}
                        <p>You are a member of this team</p>
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endif %}
    {% else %}
        <p>Team not found</p>
    {% endif %}
{% endblock %}