<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="http://getbootstrap.com/favicon.ico">

    <title>TeamUp - {%block title_block%}Build a team{% endblock%}</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static  'css/bootstrap.min.css' %}" rel="stylesheet">
    <!--add the following link, it the css page of the original page-->
    <!--<link href="{% static  'css/dashboard.css' %}" rel="stylesheet">-->
    <link href="{% static  'css/modern-business.css' %}" rel="stylesheet">

    <!--<link href="{% static 'css/signin.css' %}" rel="stylesheet" />-->
    <link href="{% static 'css/searchtable.css' %}" rel="stylesheet" />

    <link href="{% static 'css/ie10-viewport-bug-workaround.css' %}" rel="stylesheet">
    <!-- Custom styles for this template -->

    <!--datatable css -->
    <link rel="stylesheet" href="{% static 'css/jquery.dataTables.min.css' %}"/>

    <link rel="stylesheet" href="{% static 'css/teambuilder.css' %}"/>

    <script type="text/javascript" src="{% static 'css/jquery-ui.css' %}"></script>

  </head>

  <body>

        <nav class="navbar navbar-inverse navbar-fixed-top" >
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="{% url 'teambuilder:index' %}"><img src="{% static 'images/logo.png' %}" alt="TeamUp" width="150" height="50" /></a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'teambuilder:index' %}"><span class="glyphicon glyphicon-home"></span> Home</a> </li>
                <li><a href="{% url 'teambuilder:about' %}">About</a> </li>
                {% if not user.is_authenticated %}
                    <li><a href="{% url 'auth_login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a> </li>
                    <li><a href="{% url 'registration_register' %}"><span class="glyphicon glyphicon-user"></span> Register</a> </li>
                {% else %}
                <li><a href="{% url 'teambuilder:search_team' %}"><span class="glyphicon glyphicon-search"></span> Find team</a> </li>
                <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user"></span> {{user.username}}<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="{% url 'teambuilder:dashboard' %}">Dashboard</a> </li>
                    <li><a href="/teambuilder/profile/{{ user.username }}">View profile</a></li>
                    <li><a href="{% url 'auth_password_change' %}">Change Password</a> </li>

                    <li><a href="{% url 'auth_logout' %}"> Logout</a> </li>
                  </ul>
                </li>
                {% endif %}
              </ul>
            </div>
          </div>
        </nav>

        <div class="container" id="body_div">
        {% block body_block %}{% endblock %}
        </div>


          <div class="container-fluid navbar-inverse" id="footer_div">
                <p class="text-center">&copy; Team Awesome 2016</p>
          </div>
     <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
      <!--[if lt IE 9]>
        <script src="{% static 'js/html5shiv.min.js' %}"></script>
        <script src="{% static 'js/respond.min.js' %}"></script>
      <![endif]-->

      <script src="{% static 'js/jquery.min.js' %}"></script>
      <script src="{% static 'js/bootstrap.min.js' %}"></script>
      <script src="{% static 'js/teambuilder_jquery.js' %}"></script>
      <!-- datatable javascript -->
      <script type="text/javascript" src="{% static 'js/jquery.dataTables.min.js' %}"></script>

      <!--jqueryUI -->
      <script type="text/javascript" src="{% static 'js/jquery-ui.js' %}"></script>
  </body>

</html>