<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TeamBuilder - {% block title_block %}{% endblock %}</title>
</head>
<body>
    <div>
        <ul>
            <li><a href="{% url 'teambuilder:index' %}">Home</a> </li>
            <li><a href="{% url 'teambuilder:about' %}">About</a> </li>
            {% if not user.is_authenticated %}
                <li><a href="{% url 'teambuilder:login' %}">Login</a> </li>
                <li><a href="{% url 'teambuilder:register' %}">Register</a> </li>
            {% else %}
            <li><a href="{% url 'teambuilder:edit_profile' %}">Edit profile</a> </li>
            <li><a href="{% url 'teambuilder:profile' %}">Profile</a> </li>
            <li><a href="{% url 'teambuilder:logout' %}">Logout</a> </li>
            <li><a href="{% url 'teambuilder:reset' %}">Reset Password</a> </li>
            <li><a href="{% url 'teambuilder:create_team' %}">Create team</a> </li>
            <li><a href="{% url 'teambuilder:find_team' %}">Find team</a> </li>
            {% endif %}
        </ul>
        <hr />
    </div>
    <div>{% block body_block %}{% endblock %}</div>
</body>
</html>